USE [CRS_V2]
GO
/****** Object:  StoredProcedure [dbo].[sproc_admin_point_transfer_retrieve]    Script Date: 5/2/2024 10:49:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_admin_point_transfer_retrieve]
(     
	@Point DECIMAL(18, 2)=NULL,
	@TransactionType varchar(20)=NULL,
	@Remarks NVARCHAR(max)=NULL,
	@Image VARCHAR(max)=NULL,
	@UserTypeId bigint=NULL,
	@UserId bigint=NULL,
    @ActionUser VARCHAR(50)=NULL,
	@ActionIp VARCHAR(50)=NULL,
	@ActionUserId bigint=NULL
    
)
AS
BEGIN TRY
	SET NOCOUNT ON;
    declare @Sno bigint, @ErrorDesc VARCHAR(MAX), @adminPoint DECIMAL(18, 2)=NULL, @userPoint DECIMAL(18, 2)=NULL
	IF NOT EXISTS(
	        SELECT top(1) 'x' 
			FROM 
			    tbl_users 
			where 
			     AgentId=@UserId and RoleType=@UserTypeId
				 )
	BEGIN
	 SELECT 1 Code,
               'User details not found' Message;

	END


	If @TransactionType='Transfer'
	BEGIN
		IF NOT EXISTS(
	        SELECT top(1) 'x' 
			FROM 
			    tbl_System_Balance 			
				 )
	          BEGIN
	           SELECT 1 Code,
                      'Points not available' Message;
	          
	          END

	   SELECT
	        @adminPoint=isnull( Amount,0)
       FROM
	        tbl_System_Balance 

		If @adminPoint < @Point
		BEGIN
		   SELECT 1 Code,
                  'Points not available' Message;
		END

	BEGIN TRANSACTION InsertUpdate;
	print 1
        INSERT INTO [dbo].[tbl_AdminTransferPoint]
        (
            AgentId,
	    	Amount,
	    	Remark,
	    	TrancationType,
			Status,
			Image,
			ActionDate,
			ActionUser
        )
        VALUES
         (  
		   @UserId,
            @Point,      
			@Remarks,
			7,
			'A',
			@Image,
            GETDATE(),     
	    	@ActionUser
        )
		SET @Sno = SCOPE_IDENTITY();

		--------DR (Admin)-------------
		INSERT INTO [dbo].[tbl_PointLogs]
        (
            TranscationId,
	    	UserId,
	    	RoleType,
	    	TransactionType,
            Point,
            TransactionDate,
			TransactionMode,
			ActionUser,
			Remark,
			SystemRemark
        )
        VALUES
         (   
		    @Sno,
			 0,
			2,
			7,
            @Point,       
            GETDATE(),
			'DR',
	    	@ActionUser,
			@Remarks,
			''
        )

       --------CR (Users)-------------
	   INSERT INTO [dbo].[tbl_PointLogs]
        (
            TranscationId,
	    	UserId,
	    	RoleType,
	    	TransactionType,
            Point,
            TransactionDate,
			TransactionMode,
			ActionUser,
			Remark,
			SystemRemark
        )
        VALUES
         (   
		    @Sno,
			@UserId,
			@UserTypeId,
			'7',
            @Point,       
            GETDATE(),
			'CR',
	    	@ActionUser,
			@Remarks,
			''
        )


		IF NOT EXISTS(SELECT  'x' FROM tbl_agent_balance where AgentId=@UserId and RoleType=@UserTypeId )
		 BEGIN
		      INSERT INTO [dbo].[tbl_agent_balance]
              (
                AgentId,
	          	Amount,	    
				creditLimit,
	          	CreditPointUse,	
				Status,
	          	ActionUser,	
				ActionDate,
	          	RoleType
              )
              VALUES
               (  
			   @UserId,
               @Point,       
                0,
				0,
			   'A',
			   @ActionUser,
			   GETDATE(),
			   @UserTypeId
              )
		 END
		 ELSE
		 BEGIN
		 --select @PreviousPoint=Amount FROM tbl_System_Balance 
		 UPDATE tbl_agent_balance Set Amount=Amount+ @Point where AgentId=@UserId and RoleType=@UserTypeId
		 
		 END

		 UPDATE  tbl_System_Balance  Set Amount=Amount - @Point
	     SELECT 0 Code,
               'Points transfered successfully' Message;

END
ELSE
BEGIN
IF NOT EXISTS(
	        SELECT  'x' 
			FROM 
			    tbl_agent_balance 
		    WHERE
			    AgentId=@UserId and RoleType=@UserTypeId  			
				 )
	          BEGIN
	           SELECT 1 Code,
                      'Points not available' Message;	          
	          END

	   SELECT
	        @userPoint=isnull( Amount,0)
       FROM
	        tbl_agent_balance 
       WHERE
			    AgentId=@UserId and RoleType=@UserTypeId  	

		If @userPoint < @Point
		BEGIN
		   SELECT 1 Code,
                  'Points not available' Message;
		END
		BEGIN TRANSACTION InsertUpdate;
	
        INSERT INTO [dbo].[tbl_AdminTransferPoint]
        (
            AgentId,
	    	Amount,
	    	Remark,
	    	TrancationType,
			Status,
			Image,
			ActionDate,
			ActionUser
        )
        VALUES
         (  
		   @UserId,
            @Point,      
			@Remarks,
			'3',
			'A',
			@Image,
            GETDATE(),     
	    	@ActionUser
        )
		SET @Sno = SCOPE_IDENTITY();

		--------DR (Admin)-------------
		INSERT INTO [dbo].[tbl_PointLogs]
        (
            TranscationId,
	    	UserId,
	    	RoleType,
	    	TransactionType,
            Point,
            TransactionDate,
			TransactionMode,
			ActionUser,
			Remark,
			SystemRemark
        )
        VALUES
         (   
		    @Sno,
			@UserId,
			@UserTypeId,
			'3',
            @Point,       
            GETDATE(),
			'DR',
	    	@ActionUser,
			@Remarks,
			''
        )

       --------CR (Users)-------------
	   INSERT INTO [dbo].[tbl_PointLogs]
        (
            TranscationId,
	    	UserId,
	    	RoleType,
	    	TransactionType,
            Point,
            TransactionDate,
			TransactionMode,
			ActionUser,
			Remark,
			SystemRemark
        )
        VALUES
         (   
		    @Sno,
			0,
			'2',
			'3',
            @Point,       
            GETDATE(),
			'CR',
	    	@ActionUser,
			@Remarks,
			''
        )

		 INSERT INTO [dbo].[tbl_AdminGenerateAmount]
        (
            Amount,
	    	GenerateDate,
	    	Remark,
	    	Createby         
        )
        VALUES
         (   
            @Point,       
            GETDATE(),
			@Remarks,
	    	@ActionUserId

        )

		
		 UPDATE  
		      tbl_agent_balance  
		 SET
		     Amount=Amount - @Point  
		 WHERE
		    AgentId=@UserId and RoleType=@UserTypeId

		IF NOT EXISTS(SELECT top(1) 'x' FROM tbl_System_Balance )
		 BEGIN
		 INSERT INTO [dbo].[tbl_System_Balance]
              (
                Amount,
	          	LastUpdate	          	
              )
              VALUES
               (      
                  @Point,       
                  GETDATE()	          	
              )
		 END
		 ELSE
		 BEGIN

		 UPDATE tbl_System_Balance Set Amount=Amount+ @Point
		 
		 END



 SELECT 0 Code,
               'Points retrieved successfully' Message;
END
	  COMMIT TRANSACTION InsertUpdate;
	  

       RETURN;
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION InsertUpdate;

    SET @ErrorDesc = 'SQL error found: (' + ERROR_MESSAGE() + ')' + ' at ' + CAST(ERROR_LINE() AS VARCHAR);

    INSERT INTO tbl_error_log
    (
        ErrorDesc,
        ErrorScript,
        QueryString,
        ErrorCategory,
        ErrorSource,
        ActionDate
    )
    VALUES
    (@ErrorDesc, 'sproc_admin_point_transfer_retrieve', 'SQL', 'SQL', 'sproc_admin_point_transfer_retrieve',
     GETDATE());

    SELECT 1 Code,
           'ErrorId:' + CAST(SCOPE_IDENTITY() AS VARCHAR) Message;
    RETURN;
END CATCH;
