USE [CRS_V2]
GO
/****** Object:  StoredProcedure [dbo].[sproc_admin_affiliate_management]    Script Date: 6/14/2024 3:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[sproc_admin_affiliate_management]
    @Flag VARCHAR(10),
    @HoldAgentId VARCHAR(10) = NULL,
    @AgentId VARCHAR(10) = NULL,
    @ActionUser VARCHAR(200) = NULL,
    @ActionIP VARCHAR(200) = NULL,
    @ActionPlatform VARCHAR(20) = NULL,
    @Status CHAR(1) = NULL,
    @SearchField NVARCHAR(200) = NULL,
    @AffiliateId VARCHAR(10) = NULL,
    @FilterDate DATETIME = NULL,
	@Skip INT = 0,
	@Take INT = 10,
	@SearchFilter NVARCHAR(200) = NULL,
	@Address NVARCHAR(200) = NULL,
    @Prefecture NVARCHAR(200) = NULL,
    @City NVARCHAR(200) = NULL,
    @Street NVARCHAR(200) = NULL,
    @BuildingNo NVARCHAR(50) = NULL,
    @BusinessType NVARCHAR(50) = NULL,
    @CEOName NVARCHAR(100) = NULL,
    @CEONameFurigana NVARCHAR(100) = NULL,
    @CompanyName NVARCHAR(100) = NULL,
    @CompanyAddress NVARCHAR(300) = NULL,
	@BirthDateYear VARCHAR(4) = NULL,
    @BirthDateMonth VARCHAR(2) = NULL,
    @BirthDateDay VARCHAR(2) = NULL,
	@Gender VARCHAR(5) = NULL,
	@PostalCode VARCHAR(50) = NULL,
	@LoginId NVARCHAR(200) = NULL,
	@Email VARCHAR(200) = NULL,
	@MobileNumber VARCHAR(15)=NULL,
	@Fullname NVARCHAR(200)=NULL

AS
DECLARE @Sno BIGINT,
        @Sno2 BIGINT,
        @TransactionName VARCHAR(200),
        @ErrorDesc VARCHAR(MAX);
DECLARE @RandomPassword VARCHAR(20) = NULL,
        @SnsType VARCHAR(20) = NULL,
        @SnsURLLink NVARCHAR(MAX) = NULL,
        @DefaultRoleId BIGINT;
DECLARE @SQLString NVARCHAR(MAX) = N'',
        @SQLParameter NVARCHAR(MAX) = N'';
DECLARE @EmailAddress VARCHAR(256),
        
       
        @SmsEmailResponseCode INT = 1;
DECLARE @TotalClickCount INT,
        @TotalAffiliatesCount INT,
        @TotalConvertedCustomerCount INT,
        @TwitterCount INT,
        @InstagramCount INT,
        @FacebookCount INT,
        @TiktokCount INT,
        @LineCount INT,
		@FirstName NVARCHAR(200),
        @LastName NVARCHAR(200) ,
		@DOB VARCHAR(20) ,
		@UserId bigint ;
BEGIN TRY
	IF @Flag = 'gal' --get affiliate list
	BEGIN
	    WITH CTE
        AS (SELECT ISNULL(a.AgentId, '') AS AffiliateId,
                   '' AS HoldAffiliateId,
                   a.ProfileImage AS AffiliateImage,
                   CONCAT(ISNULL(a.FirstName, ''), ' ', ISNULL(a.LastName, '')) AS AffiliateFullName,
                   a.MobileNumber,
                   a.EmailAddress,
                   ISNULL(c.CreatedDate, '') AS RequestedDate,
                   CASE
                       WHEN ISNULL(b.Status, '') <> ''
                            AND ISNULL(b.Status, '') = 'A' THEN
                           'Active'
                       WHEN ISNULL(b.Status, '') <> ''
                            AND ISNULL(b.Status, '') = 'B' THEN
                           'Blocked'
                       ELSE
                           '-'
                   END AS Status,
                   CASE
                       WHEN ISNULL(c.Status, '') <> ''
                            AND ISNULL(c.Status, '') = 'A' THEN
                           'Approved'
                       WHEN ISNULL(c.Status, '') <> ''
                            AND ISNULL(c.Status, '') = 'P' THEN
                           'Pending'
                       WHEN ISNULL(c.Status, '') <> ''
                            AND ISNULL(c.Status, '') = 'R' THEN
                           'Rejected'
                       ELSE
                           '-'
                   END AS ApprovedStatus,
                   c.SnsURLLink,
                   '' AS AffiliateType
            FROM dbo.tbl_affiliate a WITH (NOLOCK)
                INNER JOIN dbo.tbl_users b WITH (NOLOCK)
                    ON b.AgentId = a.AgentId
                       AND b.RoleType = 6
                       AND ISNULL(b.Status, '') IN ( 'A', 'B' )
                LEFT JOIN dbo.tbl_affiliate_hold c WITH (NOLOCK)
                    ON c.MobileNumber = a.MobileNumber
                       AND c.EmailAddress = a.EmailAddress
                       AND ISNULL(c.Status, '') = 'A')
      SELECT ROW_NUMBER() OVER (ORDER BY RequestedDate DESC) AS SNO,
			  COUNT(AffiliateId) OVER() AS TotalRecords,
				* FROM (SELECT ISNULL(a.AffiliateId, '') AS AffiliateId,
               a.HoldAffiliateId,
               a.AffiliateImage,
               a.AffiliateFullName,
               a.MobileNumber,
               a.EmailAddress,
               FORMAT(ISNULL(a.RequestedDate, ''), 'dd MMM, yyyy-MM-dd') AS RequestedDate,
               a.Status,
               a.ApprovedStatus,
               a.SnsURLLink,
               a.AffiliateType
        FROM CTE a WITH (NOLOCK)
        UNION ALL
        SELECT '' AS AffiliateId,
               a.HoldAgentId AS HoldAffiliateId,
               '' AS AffiliateImage,
               CONCAT(ISNULL(a.FirstName, ''), ' ', ISNULL(a.LastName, '')) AS AffiliateFullName,
               a.MobileNumber,
               a.EmailAddress,
               FORMAT(ISNULL(a.CreatedDate, ''), 'dd MMM, yyyy-MM-dd') AS RequestedDate,
               'Blocked' AS Status,
               CASE
                   WHEN ISNULL(a.Status, '') <> ''
                        AND ISNULL(a.Status, '') = 'P' THEN
                       'Pending'
                   WHEN ISNULL(a.Status, '') <> ''
                        AND ISNULL(a.Status, '') = 'R' THEN
                       'Rejected'
                   ELSE
                       '-'
               END AS ApprovedStatus,
               a.SnsURLLink,
               'Hold' AS AffiliateType
        FROM dbo.tbl_affiliate_hold a WITH (NOLOCK)
        WHERE a.Status IN ( 'P', 'R' )) AS CombinedResults 
		WHERE 1 = 1  AND 
				(
			@SearchFilter IS NULL OR 
			(
				AffiliateFullName LIKE '%' + @SearchFilter + '%' OR
				MobileNumber LIKE '%' + @SearchFilter + '%' OR
				EmailAddress LIKE '%' + @SearchFilter + '%'
			)
		)
		ORDER BY RequestedDate DESC
		OFFSET @Skip ROWS FETCH NEXT @Take ROW ONLY;
		
		--WHERE 1 = 1  AND
		--(
		--	@SearchFilter IS NULL OR 
		--	(
		--		AffiliateFullName LIKE '%' + @SearchFilter + '%' OR
		--		MobileNumber LIKE '%' + @SearchFilter + '%' OR
		--		EmailAddress LIKE '%' + @SearchFilter + '%'
		--	)
		--)
		--ORDER BY RequestedDate DESC

		RETURN;
	END
  --  IF @Flag = 'gal' --get affiliate list
  --  BEGIN
  --      IF @SearchField IS NOT NULL
  --      BEGIN
  --          SET @SQLParameter += N' AND AffiliateFullName LIKE N''%' + @SearchField + N'%''';
  --      END;
  --      SET @SQLString
  --          = N'
  --      WITH CTE
  --      AS (SELECT ISNULL(a.AgentId, '''') AS AffiliateId,
  --                 '''' AS HoldAffiliateId,
  --                 a.ProfileImage AS AffiliateImage,
  --                 CONCAT(ISNULL(a.FirstName, ''''), '' '', ISNULL(a.LastName, '''')) AS AffiliateFullName,
  --                 a.MobileNumber,
  --                 a.EmailAddress,
  --                 ISNULL(c.CreatedDate, '''') AS RequestedDate,
  --                 CASE
  --                     WHEN ISNULL(b.Status, '''') <> ''''
  --                          AND ISNULL(b.Status, '''') = ''A'' THEN
  --                         ''Active''
  --                     WHEN ISNULL(b.Status, '''') <> ''''
  --                          AND ISNULL(b.Status, '''') = ''B'' THEN
  --                         ''Blocked''
  --                     ELSE
  --                         ''-''
  --                 END AS Status,
  --                 CASE
  --                     WHEN ISNULL(c.Status, '''') <> ''''
  --                          AND ISNULL(c.Status, '''') = ''A'' THEN
  --                         ''Approved''
  --                     WHEN ISNULL(c.Status, '''') <> ''''
  --                          AND ISNULL(c.Status, '''') = ''P'' THEN
  --                         ''Pending''
  --                     WHEN ISNULL(c.Status, '''') <> ''''
  --                          AND ISNULL(c.Status, '''') = ''R'' THEN
  --                         ''Rejected''
  --                     ELSE
  --                         ''-''
  --                 END AS ApprovedStatus,
  --                 c.SnsURLLink,
  --                 '''' AS AffiliateType
  --          FROM dbo.tbl_affiliate a WITH (NOLOCK)
  --              INNER JOIN dbo.tbl_users b WITH (NOLOCK)
  --                  ON b.AgentId = a.AgentId
  --                     AND b.RoleType = 6
  --                     AND ISNULL(b.Status, '''') IN ( ''A'', ''B'' )
  --              LEFT JOIN dbo.tbl_affiliate_hold c WITH (NOLOCK)
  --                  ON c.MobileNumber = a.MobileNumber
  --                     AND c.EmailAddress = a.EmailAddress
  --                     AND ISNULL(c.Status, '''') = ''A'')
  --    SELECT * FROM (SELECT ISNULL(a.AffiliateId, '''') AS AffiliateId,
  --             a.HoldAffiliateId,
  --             a.AffiliateImage,
  --             a.AffiliateFullName,
  --             a.MobileNumber,
  --             a.EmailAddress,
  --             FORMAT(ISNULL(a.RequestedDate, ''''), ''dd MMM, yyyy-MM-dd'') AS RequestedDate,
  --             a.Status,
  --             a.ApprovedStatus,
  --             a.SnsURLLink,
  --             a.AffiliateType
  --      FROM CTE a WITH (NOLOCK)
  --      UNION ALL
  --      SELECT '''' AS AffiliateId,
  --             a.HoldAgentId AS HoldAffiliateId,
  --             '''' AS AffiliateImage,
  --             CONCAT(ISNULL(a.FirstName, ''''), '' '', ISNULL(a.LastName, '''')) AS AffiliateFullName,
  --             a.MobileNumber,
  --             a.EmailAddress,
  --             FORMAT(ISNULL(a.CreatedDate, ''''), ''dd MMM, yyyy-MM-dd'') AS RequestedDate,
  --             ''Blocked'' AS Status,
  --             CASE
  --                 WHEN ISNULL(a.Status, '''') <> ''''
  --                      AND ISNULL(a.Status, '''') = ''P'' THEN
  --                     ''Pending''
  --                 WHEN ISNULL(a.Status, '''') <> ''''
  --                      AND ISNULL(a.Status, '''') = ''R'' THEN
  --                     ''Rejected''
  --                 ELSE
  --                     ''-''
  --             END AS ApprovedStatus,
  --             a.SnsURLLink,
  --             ''Hold'' AS AffiliateType
  --      FROM dbo.tbl_affiliate_hold a WITH (NOLOCK)
  --      WHERE a.Status IN ( ''P'', ''R'' )) AS CombinedResults 
		--WHERE 1 = 1 ' + @SQLParameter + N'ORDER BY RequestedDate DESC';

  --      PRINT (@SQLString);
  --      EXEC (@SQLString);

  --      --AND a.MobileNumber NOT IN
  --      --    (
  --      --        SELECT a.MobileNumber FROM CTE a2 WITH (NOLOCK)
  --      --    );
  --      RETURN;
  --  END;
 
    ELSE IF @Flag = 'rarr' --reject affiliate registration request
    BEGIN
        IF NOT EXISTS
        (
            SELECT 'X'
            FROM dbo.tbl_affiliate_hold a WITH (NOLOCK)
            WHERE a.HoldAgentId = @HoldAgentId
                  AND ISNULL(a.Status, '') = 'P'
        )
        BEGIN
            SELECT 1 Code,
                   'Invalid request' Message;
            RETURN;
        END;

        UPDATE dbo.tbl_affiliate_hold
        SET Status = 'R',
            UpdatedBy = @ActionUser,
            UpdatedIP = @ActionIP,
            UpdatedPlatform = @ActionPlatform,
            UpdatedDate = GETDATE()
        WHERE HoldAgentId = @HoldAgentId
              AND ISNULL(Status, '') = 'P';

        SELECT 0 Code,
               'Affiliate registration request rejected successfully' Messgae;
        RETURN;
    END;

    ELSE IF @Flag = 'aarr' --approve affiliate registration request
    BEGIN
        IF NOT EXISTS
        (
            SELECT 'X'
            FROM dbo.tbl_affiliate_hold a WITH (NOLOCK)
            WHERE a.HoldAgentId = @HoldAgentId
                  AND ISNULL(a.Status, '') = 'P'
        )
        BEGIN
            SELECT 1 Code,
                   'Invalid request' Message;
            RETURN;
        END;

        SELECT @TransactionName = 'Flag_aarr',
               @RandomPassword = 'Test@123'; --dbo.func_generate_random_no(8);

        BEGIN TRANSACTION @TransactionName;

        INSERT INTO dbo.tbl_affiliate
        (
            FirstName,
            LastName,
            MobileNumber,
            EmailAddress,
            DOB,
            Gender,
            ActionUser,
            ActionIP,
            ActionPlatform,
            ActionDate
        )
        SELECT a.FirstName,
               a.LastName,
               a.MobileNumber,
               a.EmailAddress,
               a.DOB,
               a.Gender,
               @ActionUser,
               @ActionIP,
               @ActionPlatform,
               GETDATE()
        FROM dbo.tbl_affiliate_hold a WITH (NOLOCK)
        WHERE a.HoldAgentId = @HoldAgentId
              AND ISNULL(a.Status, '') = 'P';

        SET @AgentId = SCOPE_IDENTITY();

        UPDATE dbo.tbl_affiliate
        SET AgentId = @AgentId
        WHERE Sno = @AgentId;

        SELECT TOP 1
               @DefaultRoleId = a.Id
        FROM dbo.tbl_roles a WITH (NOLOCK)
        WHERE a.RoleName = 'Affiliate'
              AND a.RoleType = 6
        ORDER BY a.Id ASC;

        INSERT INTO dbo.tbl_users
        (
            RoleId,
            AgentId,
            LoginId,
            Password,
            Status,
            ActionUser,
            ActionIP,
            ActionPlatform,
            ActionDate,
            FailedLoginAttempt,
            IsPasswordForceful,
            LastPasswordChangedDate,
            LastLoginDate,
            RoleType
        )
        SELECT @DefaultRoleId,
               @AgentId,
               a.MobileNumber,
               PWDENCRYPT(@RandomPassword),
               'A',
               @ActionUser,
               @AgentId,
               @ActionPlatform,
               GETDATE(),
               0,
               'Y',
               GETDATE(),
               NULL,
               6
        FROM dbo.tbl_affiliate a WITH (NOLOCK)
        WHERE a.AgentId = @AgentId;

        SET @Sno = SCOPE_IDENTITY();

        UPDATE dbo.tbl_users
        SET UserId = @Sno
        WHERE Sno = @Sno;

        UPDATE dbo.tbl_affiliate_hold
        SET Status = 'A',
            UpdatedBy = @ActionUser,
            UpdatedIP = @ActionIP,
            UpdatedPlatform = @ActionPlatform,
            UpdatedDate = GETDATE()
        WHERE HoldAgentId = @HoldAgentId
              AND ISNULL(Status, '') = 'P';

        SELECT @SnsType = b.StaticDataLabel,
               @SnsURLLink = a.SnsURLLink
        FROM dbo.tbl_affiliate_hold a WITH (NOLOCK)
            LEFT JOIN dbo.tbl_static_data b WITH (NOLOCK)
                ON b.StaticDataType = 28
                   AND b.StaticDataValue = a.SnsType
                   AND ISNULL(b.Status, '') = 'A';

        IF ISNULL(@SnsType, '') != ''
           AND ISNULL(@SnsURLLink, '') != ''
        BEGIN
            IF @SnsType = 'Instagram'
            BEGIN
                INSERT INTO dbo.tbl_website_details
                (
                    AgentId,
                    InstagramLink,
                    ActionUser,
                    ActionIP,
                    ActionPlatform,
                    ActionDate,
                    RoleId
                )
                VALUES
                (   @AgentId,        -- AgentId - bigint
                    @SnsURLLink,     -- InstagramLink - varchar(max)
                    @ActionUser,     -- ActionUser - varchar(200)
                    @ActionIP,       -- ActionIP - varchar(20)
                    @ActionPlatform, -- ActionPlatform - varchar(20)
                    GETDATE(),       -- ActionDate - datetime
                    6                -- RoleId - bigint
                    );
            END;
            ELSE IF @SnsType = 'Facebook'
            BEGIN
                INSERT INTO dbo.tbl_website_details
                (
                    AgentId,
                    FacebookLink,
                    ActionUser,
                    ActionIP,
                    ActionPlatform,
                    ActionDate,
                    RoleId
                )
                VALUES
                (   @AgentId,        -- AgentId - bigint
                    @SnsURLLink,     -- InstagramLink - varchar(max)
                    @ActionUser,     -- ActionUser - varchar(200)
                    @ActionIP,       -- ActionIP - varchar(20)
                    @ActionPlatform, -- ActionPlatform - varchar(20)
                    GETDATE(),       -- ActionDate - datetime
                    6                -- RoleId - bigint
                    );
            END;
            ELSE IF @SnsType = 'Tiktok'
            BEGIN
                INSERT INTO dbo.tbl_website_details
                (
                    AgentId,
                    TiktokLink,
                    ActionUser,
                    ActionIP,
                    ActionPlatform,
                    ActionDate,
                    RoleId
                )
                VALUES
                (   @AgentId,        -- AgentId - bigint
                    @SnsURLLink,     -- InstagramLink - varchar(max)
                    @ActionUser,     -- ActionUser - varchar(200)
                    @ActionIP,       -- ActionIP - varchar(20)
                    @ActionPlatform, -- ActionPlatform - varchar(20)
                    GETDATE(),       -- ActionDate - datetime
                    6                -- RoleId - bigint
                    );
            END;
            ELSE IF @SnsType = 'Tiktok'
            BEGIN
                INSERT INTO dbo.tbl_website_details
                (
                    AgentId,
                    TwitterLink,
                    ActionUser,
                    ActionIP,
                    ActionPlatform,
                    ActionDate,
                    RoleId
                )
                VALUES
                (   @AgentId,        -- AgentId - bigint
                    @SnsURLLink,     -- InstagramLink - varchar(max)
                    @ActionUser,     -- ActionUser - varchar(200)
                    @ActionIP,       -- ActionIP - varchar(20)
                    @ActionPlatform, -- ActionPlatform - varchar(20)
                    GETDATE(),       -- ActionDate - datetime
                    6                -- RoleId - bigint
                    );
            END;
        END;

        INSERT INTO dbo.tbl_affiliate_refer_details
        (
            AffiliateId,
            SnsId,
            TotalClickCount,
            Status,
            CreatedBy,
            CreatedDate,
            CreatedIP,
            CreatedPlatform
        )
        SELECT @AgentId,
               a.StaticDataValue,
               0,
               'A',
               @ActionUser,
               GETDATE(),
               @ActionIP,
               @ActionPlatform
        FROM dbo.tbl_static_data a WITH (NOLOCK)
        WHERE a.StaticDataType = 28
              AND a.Status = 'A';


        UPDATE dbo.tbl_affiliate_refer_details
        SET ReferId = Sno
        WHERE AffiliateId = @AgentId
              AND ISNULL(Status, '') = 'A';

        COMMIT TRANSACTION @TransactionName;

        SELECT @EmailAddress = a.EmailAddress,
               @MobileNumber = a.MobileNumber,
               @Fullname = CONCAT(a.FirstName, ' ', a.LastName)
        FROM dbo.tbl_affiliate a WITH (NOLOCK)
            INNER JOIN dbo.tbl_users b WITH (NOLOCK)
                ON b.AgentId = a.AgentId
                   AND b.RoleType = 6
        WHERE a.AgentId = @AgentId
              AND ISNULL(b.Status, '') = 'A';

        CREATE TABLE dbo.#temp_aarr_es_status
        (
            Code INT
        );

        INSERT INTO dbo.#temp_aarr_es_status
        (
            Code
        )
        EXEC dbo.sproc_affiliates_email_sms_management @Flag = '2',
                                                       @EmailSendTo = @EmailAddress,
                                                       @LoginId = @MobileNumber,
                                                       @Password = @RandomPassword,
                                                       @Username = @Fullname,
                                                       @AgentId = @AgentId,
                                                       @UserId = @Sno,
                                                       @ActionUser = @ActionUser,
                                                       @ActionIP = @ActionIP,
                                                       @ActionPlatform = @ActionPlatform,
                                                       @ResponseCode = @SmsEmailResponseCode OUTPUT;

        DROP TABLE #temp_aarr_es_status;

        SELECT 0 Code,
               'Affiliate registration request approved successfully' Messgae;
        RETURN;
    END;

    ELSE IF @Flag = 'mas' --manage affiliate status
    BEGIN
        IF ISNULL(@Status, '') = 'A'
        BEGIN
            IF NOT EXISTS
            (
                SELECT 'X'
                FROM dbo.tbl_affiliate a WITH (NOLOCK)
                    INNER JOIN dbo.tbl_users b WITH (NOLOCK)
                        ON b.AgentId = a.AgentId
                           AND b.RoleType = 6
                           AND b.Status = 'B'
            )
            BEGIN
                SELECT 1 Code,
                       'Invalid request' Message;
                RETURN;
            END;

            UPDATE dbo.tbl_users
            SET Status = 'A',
                ActionUser = @ActionUser,
                ActionIP = @ActionIP,
                ActionPlatform = @ActionPlatform,
                ActionDate = GETDATE()
            WHERE AgentId = @AgentId
                  AND RoleType = 6
                  AND Status = 'B';

            SELECT 0 Code,
                   'Affiliate status updated successfully' Message;
            RETURN;
        END;
        ELSE IF ISNULL(@Status, '') = 'B'
        BEGIN
            IF NOT EXISTS
            (
                SELECT 'X'
                FROM dbo.tbl_affiliate a WITH (NOLOCK)
                    INNER JOIN dbo.tbl_users b WITH (NOLOCK)
                        ON b.AgentId = a.AgentId
                           AND b.RoleType = 6
                           AND b.Status = 'A'
            )
            BEGIN
                SELECT 1 Code,
                       'Invalid request' Message;
                RETURN;
            END;

            UPDATE dbo.tbl_users
            SET Status = 'B',
                ActionUser = @ActionUser,
                ActionIP = @ActionIP,
                ActionPlatform = @ActionPlatform,
                ActionDate = GETDATE()
            WHERE AgentId = @AgentId
                  AND RoleType = 6
                  AND Status = 'A';

            SELECT 0 Code,
                   'Affiliate status updated successfully' Message;
            RETURN;
        END;
        ELSE
        BEGIN
            SELECT 1 Code,
                   'Invalid request' Message;
            RETURN;
        END;
    END;

    ELSE IF @Flag = 'grccl' --get referral converted customer
    BEGIN
		SELECT ROW_NUMBER() OVER (ORDER BY b.CreatedDate DESC) AS SNO,
			   COUNT(a.AgentId) OVER() AS TotalRecords,
			   a.AgentId AS CustomerId,
			   b.ReferId AS ReferCode,
			   a.ProfileImage AS CustomerImage,
			   ISNULL(CONCAT(ISNULL(a.FirstName, ''), ' ', ISNULL(a.LastName, '')), '-') AS CustomerFullName,
			   a.NickName AS CustomerUserName,
			   FORMAT(b.CreatedDate, 'MMM dd, yyyy-MM-dd') AS CustomerConvertedDate,
			   d.AgentId AS AffiliateId,
			   ISNULL(CONCAT(ISNULL(d.FirstName, ''), ' ', ISNULL(d.LastName, '')), '-') AS AffiliateFullName,
			   ISNULL(c.CommissionAmount, 0) AS AffiliateAmount,
			  d.ProfileImage AS AffiliateImage
		FROM dbo.tbl_customer a WITH (NOLOCK)
		INNER JOIN dbo.tbl_customer_refer_detail b WITH (NOLOCK) ON b.CustomerId = a.AgentId
		INNER JOIN dbo.tbl_affiliate_referral_detail c WITH (NOLOCK) ON c.ReferDetailId = b.ReferDetailId
			AND c.CustomerId = b.CustomerId
			AND c.AffiliateId = b.AffiliateId
		INNER JOIN dbo.tbl_affiliate d WITH (NOLOCK) ON d.AgentId = b.AffiliateId WHERE 1 = 1  
		    AND (@AffiliateId IS NULL OR d.AgentId = @AffiliateId)
			AND (@FilterDate IS NULL OR FORMAT(b.CreatedDate,'yyyy-MM-dd') = FORMAT(@FilterDate, 'yyyy-MM-dd'))
			AND 
				(
					@SearchFilter IS NULL OR 
					(
						a.NickName LIKE '%' + @SearchFilter + '%' OR
						CONCAT(ISNULL(a.FirstName, ''), ' ', ISNULL(a.LastName, '')) LIKE '%' + @SearchFilter + '%' 
					)
				)
		ORDER BY b.CreatedDate DESC
		OFFSET @Skip ROWS FETCH NEXT @Take ROW ONLY;

  --      IF @SearchField IS NOT NULL
  --      BEGIN
  --          SET @SQLParameter += N' AND a.NickName LIKE N''%' + @SearchField + N'%''';
  --      END;

  --      IF ISNULL(@AffiliateId, '') <> ''
  --      BEGIN
  --          SET @SQLParameter += N' AND d.AgentId=' + @AffiliateId;
  --      END;

  --      IF ISNULL(@FilterDate, '') <> ''
  --      BEGIN
  --          SET @SQLParameter += N' AND FORMAT(b.CreatedDate,''yyyy-MM-dd'') = ''' + FORMAT(@FilterDate, 'yyyy-MM-dd')
  --                               + N'''';
  --      END;



  --      SET @SQLString
  --          = N'SELECT a.AgentId AS CustomerId,
		--	   b.ReferId AS ReferCode,
		--	   a.ProfileImage AS CustomerImage,
		--	   ISNULL(CONCAT(ISNULL(a.FirstName, ''''), '' '', ISNULL(a.LastName, '''')), ''-'') AS CustomerFullName,
		--	   a.NickName AS CustomerUserName,
		--	   FORMAT(b.CreatedDate, ''MMM dd, yyyy-MM-dd'') AS CustomerConvertedDate,
		--	   d.AgentId AS AffiliateId,
		--	   ISNULL(CONCAT(ISNULL(d.FirstName, ''''), '' '', ISNULL(d.LastName, '''')), ''-'') AS AffiliateFullName,
		--	   ISNULL(c.CommissionAmount, 0) AS AffiliateAmount,
		--	  d.ProfileImage AS AffiliateImage
		--FROM dbo.tbl_customer a WITH (NOLOCK)
		--INNER JOIN dbo.tbl_customer_refer_detail b WITH (NOLOCK) ON b.CustomerId = a.AgentId
		--INNER JOIN dbo.tbl_affiliate_referral_detail c WITH (NOLOCK) ON c.ReferDetailId = b.ReferDetailId
		--	AND c.CustomerId = b.CustomerId
		--	AND c.AffiliateId = b.AffiliateId
		--INNER JOIN dbo.tbl_affiliate d WITH (NOLOCK) ON d.AgentId = b.AffiliateId WHERE 1 = 1 ' + @SQLParameter;
  --      PRINT (@SQLString);
  --      EXEC (@SQLString);
        RETURN;
    END;

    ELSE IF @Flag = 'gapa' --get affiliate page analytic
    BEGIN
        CREATE TABLE dbo.#temp_gapa_1
        (
            TotalClick INT,
            TotalAffiliates INT,
            TotalConvertedCustomer INT,
            Twitter INT,
            Instagram INT,
            Facebook INT,
            Tiktok INT,
            Line INT
        );

        SELECT @TotalClickCount = ISNULL(SUM(a.TotalClickCount), 0)
        FROM dbo.tbl_affiliate_refer_details a WITH (NOLOCK);

        SELECT @TotalAffiliatesCount = ISNULL(COUNT(a.AgentId), 0)
        FROM dbo.tbl_affiliate a WITH (NOLOCK)
            INNER JOIN dbo.tbl_users b WITH (NOLOCK)
                ON b.AgentId = a.AgentId
                   AND b.RoleType = 6
                   AND ISNULL(b.Status, '') = 'A';

        SELECT @TotalConvertedCustomerCount = ISNULL(COUNT(b.ReferDetailId), 0)
        FROM dbo.tbl_affiliate_refer_details a WITH (NOLOCK)
            INNER JOIN dbo.tbl_customer_refer_detail b WITH (NOLOCK)
                ON b.AffiliateId = a.AffiliateId
                   AND b.ReferId = a.ReferId
            INNER JOIN dbo.tbl_customer c WITH (NOLOCK)
                ON c.AgentId = b.CustomerId
            INNER JOIN dbo.tbl_affiliate d WITH (NOLOCK)
                ON d.AgentId = a.AffiliateId
        WHERE ISNULL(b.Status, '') = 'A';

        CREATE TABLE dbo.#temp_gapa_2
        (
            Label VARCHAR(200),
            Count INT
        );

        INSERT INTO dbo.#temp_gapa_2
        (
            Label,
            Count
        )
        SELECT c.StaticDataLabel,
               COUNT(b.ReferDetailId)
        FROM dbo.tbl_affiliate_refer_details a WITH (NOLOCK)
            INNER JOIN dbo.tbl_customer_refer_detail b WITH (NOLOCK)
                ON b.AffiliateId = a.AffiliateId
                   AND b.ReferId = a.ReferId
            INNER JOIN dbo.tbl_static_data c WITH (NOLOCK)
                ON c.StaticDataType = 28
                   AND c.StaticDataValue = a.SnsId
                   AND ISNULL(c.Status, '') = 'A'
        GROUP BY c.StaticDataLabel
        ORDER BY c.StaticDataLabel;

        SELECT @InstagramCount = CASE
                                     WHEN a.Label = 'Instagram' THEN
                                         ISNULL(a.Count, 0)
                                     ELSE
                                         0
                                 END,
               @TwitterCount = CASE
                                   WHEN a.Label = 'Twitter' THEN
                                       ISNULL(a.Count, 0)
                                   ELSE
                                       0
                               END,
               @LineCount = CASE
                                WHEN a.Label = 'Line' THEN
                                    ISNULL(a.Count, 0)
                                ELSE
                                    0
                            END,
               @FacebookCount = CASE
                                    WHEN a.Label = 'Facebook' THEN
                                        ISNULL(a.Count, 0)
                                    ELSE
                                        0
                                END,
               @TiktokCount = CASE
                                  WHEN a.Label = 'Tiktok' THEN
                                      ISNULL(a.Count, 0)
                                  ELSE
                                      0
                              END
        FROM dbo.#temp_gapa_2 a WITH (NOLOCK);

        INSERT INTO dbo.#temp_gapa_1
        (
            TotalClick,
            TotalAffiliates,
            TotalConvertedCustomer,
            Twitter,
            Instagram,
            Facebook,
            Tiktok,
            Line
        )
        VALUES
        (@TotalClickCount, @TotalAffiliatesCount, @TotalConvertedCustomerCount, @TwitterCount, @InstagramCount,
         @FacebookCount, @TiktokCount, @LineCount);

        SELECT *,
               CAST(Twitter * 100.0 / (Twitter + Instagram + Facebook + Tiktok + Line) AS DECIMAL(18, 2)) AS TwitterPercentage,
               CAST(Instagram * 100.0 / (Twitter + Instagram + Facebook + Tiktok + Line) AS DECIMAL(18, 2)) AS InstagramPercentage,
               CAST(Facebook * 100.0 / (Twitter + Instagram + Facebook + Tiktok + Line) AS DECIMAL(18, 2)) AS FacebookPercentage,
               CAST(Tiktok * 100.0 / (Twitter + Instagram + Facebook + Tiktok + Line) AS DECIMAL(18, 2)) AS TiktokPercentage,
               CAST(Line * 100.0 / (Twitter + Instagram + Facebook + Tiktok + Line) AS DECIMAL(18, 2)) AS LinePercentage
        FROM dbo.#temp_gapa_1 a WITH (NOLOCK);

        DROP TABLE dbo.#temp_gapa_1;
        RETURN;
    END;
	 ELSE IF @Flag = 'g_al'
  BEGIN
   
   SELECT  COUNT(a.AgentId) OVER () AS TotalRecords,a.AgentId AS AffiliateId,             
               CONCAT(ISNULL(a.FirstName, ''), ' ', ISNULL(a.LastName, '')) AS AffiliateFullName,
               a.MobileNumber,
               a.EmailAddress,
               FORMAT(ISNULL(a.ActionDate, ''), 'dd MMM, yyyy-MM-dd') AS RequestedDate,
               isnull(u.Status,'A') AS Status ,
			   a.ProfileImage AS AffiliateImage
        FROM dbo.tbl_affiliate a WITH (NOLOCK)  
		JOIN tbl_users as u WITH (NOLOCK)  ON a.AgentId=u.AgentId and u.RoleType=6
		WHERE 1 = 1  AND 
			(
			@SearchFilter IS NULL OR 
			(
				CONCAT(ISNULL(a.FirstName, ''), ' ', ISNULL(a.LastName, '')) LIKE '%' + @SearchFilter + '%' OR
				MobileNumber LIKE '%' + @SearchFilter + '%' OR
				EmailAddress LIKE '%' + @SearchFilter + '%'
			)
		)
		
		ORDER BY FORMAT(ISNULL(a.ActionDate, ''), 'dd MMM, yyyy-MM-dd') DESC
		OFFSET @Skip ROWS FETCH NEXT @Take ROW ONLY;
  END
ELSE  IF @Flag = 'g_ad' ---get affiliate details
BEGIN
     SELECT
	     a.FirstName+' '+ isnull(a.LastName,'') FullName,
         a.MobileNumber,
         a.EmailAddress,
         YEAR(a.DOB) BirthDateYear,
         MONTH(a.DOB) BirthDateMonth ,
         DAY(a.DOB) BirthDateDay,
         a.Gender,
         a.ProfileImage,
         a.PostalCode ,
         --a.Address,
         a.Prefecture,
         a.City,
         a.Street,
         a.BuildingNo,
         a.BusinessType,
         a.CEOName,
         a.CEONameFurigana,
         a.CompanyName,
         a.CompanyAddress,
         u.LoginId,
         a.AgentId
     FROM  
	     tbl_affiliate as a WITH(NOLOCK)
     INNER JOIN 
	     tbl_users as u WITH(NOLOCK) on u.AgentId=a.AgentId  AND u.RoleType='6' and u.Status='A'
     WHERE u.AgentId=@AffiliateId
	
  END
 ELSE  IF @Flag = 'u_am' ---update affiliate management
BEGIN


    IF NOT EXISTS(
	      SELECT 
                'x'   
          FROM  
	           tbl_affiliate as a WITH(NOLOCK)
          INNER JOIN 
	           tbl_users as u WITH(NOLOCK) on u.AgentId=a.AgentId  AND u.RoleId='6'  and u.Status='A'
           WHERE u.AgentId=@AffiliateId
		   AND u.LoginId=@LoginId
		   AND u.RoleType='6' 
		   )
	 BEGIN
	          SELECT '1' Code,
	              'Invalid user details' Message
	 END


	  SELECT @FirstName = FirstName,
               @LastName = LastName
        FROM dbo.SplitName(@Fullname);

		--SET @DOB=(SELECT CONCAT(@BirthDateYear, '-',@BirthDateMonth, '-', @BirthDateDay) )
		SET @DOB=
               (
			    SELECT CONCAT(
				          @BirthDateYear, 
                          '-',
                           CASE 
                                      WHEN LEN(@BirthDateMonth) = 1 THEN CONCAT('0', @BirthDateMonth) 
                                      ELSE @BirthDateMonth 
                                  END,   
                          '-', CASE 
                                      WHEN LEN(@BirthDateDay) = 1 THEN CONCAT('0', @BirthDateDay) 
                                      ELSE @BirthDateDay 
                                  END
                          ) 
               )
    UPDATE tbl_affiliate
         SET FirstName=ISNULL(@FirstName,FirstName),
            LastName=isnull(@LastName,LastName),
            --MobileNumber=isnull( @MobileNumber,MobileNumber),
             --EmailAddress=isnull( @Email,EmailAddress),
             DOB=isnull( @DOB,DOB),       
             Gender=isnull( @Gender,Gender),        
             PostalCode=isnull( @PostalCode,PostalCode) ,
            -- Address=isnull( @Address,Address),
             Prefecture=isnull( @Prefecture,Prefecture),
             City=isnull( @City,City),
             Street=isnull( @Street,Street),
             BuildingNo=isnull( @BuildingNo,BuildingNo),
             BusinessType=isnull( @BusinessType,BusinessType),
             CEOName=isnull( @CEOName,CEOName),
             CEONameFurigana=isnull( @CEONameFurigana,CEONameFurigana),
             CompanyName=isnull( @CompanyName,CompanyName),
             CompanyAddress=isnull( @CompanyAddress,CompanyAddress),
			 ActionDate=GETDATE()
			 
    WHERE AgentId=@AffiliateId
    

     SELECT '0' Code,
	              'Updated Successfully' Message


  END
 ELSE IF ISNULL(@Flag, '') = 'res_ap' --reset affiliate user password
    BEGIN
        IF NOT EXISTS
        (
            SELECT 'X'
            FROM dbo.tbl_affiliate a WITH (NOLOCK)
                INNER JOIN dbo.tbl_users b WITH (NOLOCK)
                    ON b.AgentId = a.AgentId
                       AND RoleType = 6                      
            WHERE a.AgentId = @AgentId			
                  AND ISNULL(b.Status, '') IN ( 'A' )
        )
        BEGIN
            SELECT 1 Code,
                   'Invalid user detail' Message;
            RETURN;
        END;

        SET @RandomPassword = dbo.func_generate_random_no(10);

        UPDATE dbo.tbl_users
        SET Password = PWDENCRYPT(@RandomPassword),
		    IsPasswordForceful='Y',
            ActionUser = @ActionUser,
            ActionIP = @ActionIP,
            ActionPlatform = @ActionPlatform,
            ActionDate = GETDATE()
        WHERE AgentId = @AgentId
              AND RoleType = 6
			  AND ISNULL(Status, '') IN ( 'A' )


			SELECT 
			@UserId=userId,
			@MobileNumber=MobileNumber,
			@FirstName=FirstName
            FROM tbl_affiliate a WITH (NOLOCK)
                INNER JOIN tbl_users b WITH (NOLOCK)
                    ON b.AgentId = a.AgentId
                       AND ISNULL(b.Status, '') IN ( 'A' )
            WHERE a.AgentId = @AgentId 
			AND b.RoleType=6


		 EXEC dbo.sproc_email_sms_management @Flag = '8',
                                            @RandomPassword = @RandomPassword,
                                            @Username = @FirstName,
                                            @AgentId = @AgentId,
                                            @UserId = @UserId,
                                            @MobileNumber = @MobileNumber,
                                            @ActionUser = @ActionUser,
                                            @ActionIP = @ActionIP,
                                            @ActionPlatform = @ActionPlatform,
											@ResponseCode = @SmsEmailResponseCode OUTPUT;


        SELECT 0 Code,
               'Affiliate user password reset successfully' Message;

        RETURN;
    END;
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION @TransactionName;

    SET @ErrorDesc = 'SQL error found: (' + ERROR_MESSAGE() + ')' + ' at ' + CAST(ERROR_LINE() AS VARCHAR);

    INSERT INTO dbo.tbl_error_log
    (
        ErrorDesc,
        ErrorScript,
        QueryString,
        ErrorCategory,
        ErrorSource,
        ActionDate
    )
    VALUES
    (@ErrorDesc, 'sproc_admin_affiliate_management(Flag: ' + ISNULL(@Flag, '') + ')', 'SQL', 'SQL',
     'sproc_admin_affiliate_management', GETDATE());

    SELECT 1 Code,
           'ErrorId:' + CAST(SCOPE_IDENTITY() AS VARCHAR) Message;
    RETURN;
END CATCH;
