<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Form</title>
    <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
</head>
<body>

    <form class="h-adr">
        <span class="p-country-name" style="display:none;">Japan</span>
        PostalCode<input type="text" class="p-postal-code" size="8" maxlength="8"><br>
        Address：<input type="text" class="p-region p-locality p-street-address p-extended-address" /><br>
        都道府県：<input type="text" class="p-region" /><br>
        地区町村：<input type="text" class="p-locality" /><br>
        町名番地：<input type="text" class="p-street-address p-extended-address" />
    </form>

</body>
</html>
