@{
    ViewBag.Title = "Assigned List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/UI/Style")
<div>
    @Html.AntiForgeryToken()
    @Html.Raw(ViewData["Grid"].ToString())
    <div class="row">
        <button type="button" class="btn btn-primary btn-sm bg-primary ml-1 mb-3" onclick="window.history.back();"><i class="fa fa-arrow-left mr-2 "></i>Back</button>
    </div>
</div>
<div class="modal fade" id="MyImage">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="ModalTitleA"></h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <img id="my_img" height="100%" width="100%" />
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function ShowImage(img) {
            $("#MyImage").modal();
            document.getElementById("my_img").src = img;
        }
    </script>

    <script>
        getvisibleColumn = [0, 1, 2, 3, 4, 5, 6, 7];
        getTotalOfColumns = [];
        commaColArray = [];
        showDateTableWithExcelTotal("datatable-total", getTotalOfColumns, true, getvisibleColumn, commaColArray);
    </script>
}